.main {
    margin-left: 20vw;;
}

.connectButton{
    height: 50px;
    width: 200px;
    margin-left: 0%;
    font-size: large;
}

.collectButton{
    height: 50px;
    width: 200px;
    margin-left: 19%;
    font-size: large;
}

.recordedData{
    margin-left: 25%;
}