.navbar {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #5b5b5b;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  gap: 2rem;
  width: 100%;
}

.navbar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
}

.navbar__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
